[Main Settings]

## Discord channel webhook URL. For instructions, reference the 'MAKING A WEBHOOK' section of
## Discord's documentation: https://support.Discord.com/hc/en-us/articles/228383668-Intro-to-Webhook
# Setting type: String
# Default value:
Webhook URL =

## Specify a subset of possible events to send to the primary webhook. Previously all events would go to the primary webhook.
## Format should be the keyword 'ALL' or a semi-colon separated list, e.g. 'serverLifecycle;playerAll;playerFirstAll;leaderboardsAll;'
## Full list of valid options here: https://discord-connector.valheim.games.nwest.one/config/main.html#webhook-events
# Setting type: String
# Default value: ALL
Webhook Events = serverLifecycle;cronjob
